@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@700&family=Teko&family=Titillium+Web:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container{
    padding-top: 7vh;
}