.category-stories{
    font-family: 'Teko', sans-serif;
    width: 100%;
    height: 100%;
}

.category-story-container{
    width: 100%;
    height: 100%;
    padding: 2% 5% 2% 5%;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.category-story-title{
    font-size: 2.5rem;
}